/*** Tag Selectors (Overwrite default CSS values) Remove from final project ***/
body {
  margin: 0;
}

/*** Collapsable Menu ***/

/* Menu */
.collapsable-menu {
  position: fixed;
  display: inline-block;
  /* Change Button Placement */
  top: 300px;
  left: 300px;
}

/* Menu Items */
.collapsable-menu-content {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 500ms, opacity 500ms;
  position: absolute;
  bottom: 60px;
  z-index: 1;
  padding: 10px 10px;
}
/*** Round Buttons ***/
.round-btn {
  border-radius: 100%;
}
.rotate-btn {
  transform: rotate(0);
  transition: all 500ms;
}

.large-btn {
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}

.small-btn {
  width: 40px;
  height: 40px;
  margin: 10px 0 5px;
}

/* Pseudo Classes */
.collapsable-menu:hover .collapsable-menu-content {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 500ms;
}
.collapsable-menu:hover .rotate-btn {
  transform: rotate(45deg);
  transition: all 500ms;
  color: #fff;
  background-color: red;
  border-color: #e60000;
}
